{% extends '_base.html' %}

{% block styles %}
<style>
    body{
        background:skyblue;
    }
    ul{
        display:flex;
        gap:20px;
    }
</style>
{% endblock styles %}

{% block content %}
<h1>Categories</h1>
<ol>
    {% for category in categories %}
        <li>{{ category.name }} - {{ category.movies.count }}
            <ul>
                {% for movie in category.movies.all %}
                    <li><a href="{{ movie.url }}">{{ movie.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ol>

{% endblock content %}